*{
    margin: 0;
    padding: 0;
}
.about{
    width: 100%;
    &-img{
        width: 100%;
        height: 900px;
        >img{
            width: 100%;
            height: 900px;
        }
    }
    &-content{
        width: 100%;
        background-color: rgb(18, 22, 30);
        .background{
            margin: -100px auto 0;
            width: 50%;
            position: relative;
            box-sizing: border-box;
            .title{
                width: 100%;
                box-sizing: border-box;
                background-color: rgba($color: #008ac8, $alpha: 0.8);
                padding: 20px 20px 0;
                position: relative;
                color: white;
                .navigation{
                    position: absolute;
                    right: 50px;
                    top: 50px;
                    font-size: 18px;
                    .current >span{
                        color: white !important;
                    }
                   
                    
                }
            }
            .bottom{
                display: flex;
                .content{
                    background-color: white;
                    padding: 50px 30px 50px;
                    line-height: 40px;
                    width: 80%;
                  }
                .slider{
                    width: 20%;
                    font-size: 100px;
                    background-color: rgb(0, 172, 250);
                    color: rgb(51, 184, 244);
                    position: relative;
                    >div{
                        position: absolute;
                        z-index: 0;
                        width: 500px;
                        transform: rotate(90deg);
                        top: 250px;
                        left: -180px;
                    }
                }
            }
           
        }
        
    }
}
.bounce-enter-active {
    animation: bounce-in .5s ease 2s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
/deep/ span .el-breadcrumb__inner {
    color: white;
    font-size: 18px;
}
/deep/ .current .el-breadcrumb__inner{
    color: white;
    font-size: 16px;
}
